@model IEnumerable<Opligatorisk_opgave_1.Models.ComponentTable>
@{
    ViewBag.Title = "ComponentTable";
}

<h2>ComponentTable</h2>
<div class="panel panel-default">
    <div class="panel-heading">Component Table</div>

    <table class="table">
        <thead>
        <tr>
            <td>
                <label class="control-label">ID</label>
            </td>
            <td>
                <label class="control-label">Name</label>
            </td>
            <td>
                <label class="control-label">Category</label>
            </td>
            <td>
                <label class="control-label">Amount</label>
            </td>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td onClick="document.location.href='http://www.youtube.com';">
                    @Html.DisplayFor(modelItem => item.ComponentId)
                </td>
                <td onClick="document.location.href='http://www.youtube.com';">
                    @Html.DisplayFor(modelItem => item.ComponentName)
                </td>
                <td onClick="document.location.href = 'http://www.youtube.com';">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <button type="Button" class="btn btn-default" onClick="location.href='@Url.Action("DetailsView", "Table", new {id = item.ComponentId})'">Details</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
