
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-lg-12">
    <div class="col-lg-4">@Html.ActionLink("Tabel", "ComponentTable")</div>
    <div class="col-lg-4">@Html.ActionLink("Udlån komponent", "ComponentTable")</div>
    <div class="col-lg-4">@Html.ActionLink("Aflever komponent", "ComponentTable")</div>
    <div class="col-lg-12"></div>
    <div class="col-lg-12"></div>
    <div class="col-lg-4">@Html.ActionLink("Tilføj komponent", "ComponentTable")</div>
    <div class="col-lg-4">@Html.ActionLink("Ændre komponent", "ComponentTable")</div>
    <div class="col-lg-4">@Html.ActionLink("Fjern komponent", "ComponentTable")</div>
    <div class="col-lg-12"></div>

</div>


